.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.*.template

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

node_modules
dist
build
.stryker-tmp
.nyc_output
coverage
target
reports
*.tsbuildinfo
