/**
 * Write your global styles here, in PostCSS syntax
 */
/* https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports */

/* @tailwind base; */
@import 'tailwindcss/base';
@import './styles/base.postcss';

/* @tailwind components; */
@import 'tailwindcss/components';

/* @tailwind utilities; */
@import 'tailwindcss/utilities';

/* @tailwind variants; */
@import 'tailwindcss/variants';
